:root {
  --bg-white: 0, 0, 0;
  --bg-red: #BA2A34;
  --bg-black: black;
  --bg-grey: #E0E0E0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: rgb(var(--bg-white));
}
