.main {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    width: 70%;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    padding: 1rem;

    .header {
      display: flex;
      align-items: center;
      gap: 15px;

      .headerText {
        font-weight: 700;
      }
    }

    .timerBox {
      padding: 3px 18px;
      border-radius: 4px;
      border: 1px solid var(--bg-black);

      .timer {
        color: var(--bg-black);
        font-weight: bold;
      }
    }
  }
}


