.main {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    width: 70%;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: solid 1px black;
  }
}


